<!-- Post Details -->
<section class="post-details-container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0">
        <!-- Header -->
        <div class="card-header">
          <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center">
            <h5 class="card-title m-0 post-heading">{{postTitleToShow}}</h5>
          </div>
        </div>

        <!-- Content -->
        <div class="card-body pt-2">

          <div>
            <!-- Description -->
            <div class="mb-3" *ngIf="true">
              I have a ng-grid when I add a record into that the row gets inserted at the
              bottom of the grid, I want to display the newly added row
              in the top of my grid so that a user would be able to know which data is added.
            </div>

            <div>
              <app-comments></app-comments>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
