<!-- Post Details -->
<section class="post-details-container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-0">
        <!-- Header -->
        <div class="card-header">
          <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center">
            <h5 class="card-title m-0 post-heading">{{postTitleToShow}}</h5>
          </div>
        </div>

        <!-- Content -->
        <div class="card-body pt-2">

          <div>
            <!-- Description -->
            <div class="mb-3">{{post.description}}</div>

            <!-- Post Images -->
            <div *ngIf="postImages.length > 0">
              <ng-image-slider [images]="postImages"
                               [imageSize]="{width: '49%', space: 4}"
                               [manageImageRatio]="true"
                               [animationSpeed]="1"></ng-image-slider>
            </div>

            <!-- Comments -->
            <div>
              <app-comments [postComments]="post.comments"></app-comments>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
