<!-- If User Logged In -->
<div [ngClass]="{'wrapper' : hasUserLoggedIn}">

  <!-- Sidenar -->
  <div class="sidebar" data-color="orange" *ngIf="hasUserLoggedIn">
    <app-sidebar></app-sidebar>
  </div>
  <div [ngClass]="{'main-panel' : hasUserLoggedIn}">

    <!-- Navbar header -->
    <app-navbar *ngIf="hasUserLoggedIn"></app-navbar>

    <!-- Content -->
    <div [ngClass]="{'content position-relative' : hasUserLoggedIn}">

      <!-- Loader -->
      <app-loader *ngIf="hasUserLoggedIn"></app-loader>

      <router-outlet></router-outlet>
    </div>

  </div>
</div>

