/*
    @Author: Asha Patel
    Custom style fot the theme will be added here
*/
@import 'assets/scss/now-ui-dashboard/variables';

/*Loader*/
.loader-container { position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; background-color: rgba($light-gray, 0.5);

  .spinner { height: 48px; width: 48px; animation: rotate 1s infinite linear; border: 4px solid $primary-color; border-right-color: transparent; border-radius: 50%; margin: 0 auto; position: absolute; top: 50%; left: 0; right: 0; margin-top: -24px; }
}

/*Animation for loader spinner*/
@keyframes rotate {
  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}

/*Error*/
.error-container { line-height: 18px; min-height: 20px;
  span { font-size: $font-size-mini; }
}

/*=====================================
    Style override from theme
=======================================*/
.btn { border-radius: 30px !important; }
.wrapper { min-height: 100vh; height: unset !important; }
.invalid-feedback { display: block !important; }

/*=====================================
    Layout main panel
=======================================*/
.main-panel { height: 100%; max-height: 100%; }


/*=====================================
    Login Page
=======================================*/
.before-login-layout {
  .layout-container { min-height: 100vh;
    .top-background { width: 100%; background: linear-gradient( 90deg,#0c2646 0,#204065 60%,#2a5788); height: 120px; }
    .contents { background: #f6f7fc; }
    .container {
      & > .row { min-height: calc(100vh - 120px); }
    }
  }
  .form-block { background: #fff; padding: 40px; box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%); border-radius: 0.1875rem; }
  .control { position: relative; margin-bottom: 15px; cursor: pointer; }
}

/*=====================================
   Users
=======================================*/
.users-list-container {
  .users-list-table {
    .actions-column { width: 95px; }
  }
}

/*=====================================
   Responsive media query
=======================================*/
@media screen and (max-width: 576px) {
  /*Users list table*/
  .users-list-container {
    .users-list-table {
      table { max-width: 400px; width: 400px; }
    }
  }
}
