<!-- User add/edit -->
<section class="users-list-container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- Header -->
        <div class="card-header">
          <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center">
            <!-- Page Header Label -->
            <h4 class="card-title text-uppercase theme-color">{{pageHeaderLable}}</h4>
          </div>
        </div>

        <!-- Content -->
        <div class="card-body">
          <form #userAddEditFrom="ngForm" (ngSubmit)="userAddEditFrom.form.valid && addEditUser()" novalidate >

            <div>
              <div class="row">
                <!-- Username -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Username</label><span class="text-danger">*</span>
                    <input type="text" name="username" class="form-control" placeholder="Username" autocomplete="off" minlength="3" [(ngModel)]="user.username" #username="ngModel" required>
                    <div class="error-container">
                      <span class="text-danger" *ngIf="userAddEditFrom.submitted && username.errors?.required">This field is mandatory.</span>
                      <span class="text-danger" *ngIf="userAddEditFrom.submitted && username.errors?.minlength">Minimum 3 characters required.</span>
                    </div>
                  </div>
                </div>

                <!-- Email address -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email address</label><span class="text-danger">*</span>
                    <input type="email" name="email" class="form-control" placeholder="Email" minlength="6" [(ngModel)]="user.email" #email="ngModel" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" required [readonly]="user.id === loggedInUserId">
                    <div class="error-container">
                      <span class="text-danger" *ngIf="userAddEditFrom.submitted && email.errors?.required">This field is mandatory.</span>
                      <span class="text-danger" *ngIf="userAddEditFrom.submitted && email.errors?.minlength">Minimum 6 characters required.</span>
                      <span class="text-danger" *ngIf="userAddEditFrom.submitted && email.errors?.pattern && !email.errors?.minlength">Invalid Email address.</span>
                    </div>
                  </div>
                </div>

                <ng-container *ngIf="isUserAddPage">
                  <!-- Password -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <label>Password</label><span class="text-danger">*</span>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"
                                   class="align-middle"
                                   [checked]="isShowPasswordChecked"
                                   (change)="isShowPasswordChecked = !isShowPasswordChecked">
                            <span class="align-middle ml-2">Show Password</span>
                          </label>
                        </div>
                      </div>
                      <!-- Show/Hide Password -->
                      <input [type]="!isShowPasswordChecked ? 'password' : 'text'" name="password" class="form-control" placeholder="Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,15}$" minlength="6" maxlength="15" [(ngModel)]="user.password" #password="ngModel" autocomplete="off" required>
                      <div class="error-container">
                        <span class="text-danger" *ngIf="userAddEditFrom.submitted && password.errors?.required">This field is mandatory.</span>
                        <span class="text-danger" *ngIf="userAddEditFrom.submitted && (password.errors?.minlength || password.errors?.maxlength)">Password must be between 6-15 characters.</span>
                        <span class="text-danger" *ngIf="userAddEditFrom.submitted && password.errors?.pattern && !(password.errors?.minlength || password.errors?.maxlength)">The password must contain at least one number, one special character & mixture of uppercase & lowercase letters.</span>
                      </div>
                    </div>
                  </div>

                  <!-- Confirm Password -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="d-flex justify-content-between align-items-center">
                        <label>Confirm Password</label>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"
                                   class="align-middle"
                                   [checked]="isShowConfirmPasswordChecked"
                                   (change)="isShowConfirmPasswordChecked = !isShowConfirmPasswordChecked">
                            <span class="align-middle ml-2">Show Password</span>
                          </label>
                        </div>
                      </div>
                      <!-- Show/Hide Password -->
                      <input [type]="!isShowConfirmPasswordChecked ? 'password' : 'text'" name="confirmPassword" class="form-control" placeholder=" Confirm Password" [(ngModel)]="confirmPassword" #confirm="ngModel" autocomplete="new-password" required>
                      <div class="error-container">
                        <span class="text-danger" *ngIf="userAddEditFrom.submitted && !(password.errors?.required) && confirm.errors?.required">Re enter the password.</span>
                        <span class="text-danger" *ngIf="userAddEditFrom.submitted && (user.password !== confirmPassword) && !(confirm.errors?.required)">Password does not match.</span>
                      </div>
                    </div>
                  </div>
                </ng-container>
               

                <!-- Actions -->
                <div class="col-12 text-right mt-2">
                  <button type="button" class="btn btn-secondary btn-md mr-3" (click)="goToUserListPage()">
                    <span>Cancel</span>
                  </button>
                  <button type="submit" class="btn btn-primary btn-md">
                    <span>Save</span>
                  </button>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
