<!-- If User Logged In -->
<div class="wrapper" *ngIf="hasUserLoggedIn">

  <!-- Sidenar -->
  <div class="sidebar" data-color="orange">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">

    <!-- Navbar header -->
    <app-navbar></app-navbar>

    <!-- Content -->
    <div class="content position-relative">

      <!-- Loader -->
      <app-loader></app-loader>

      <router-outlet></router-outlet>
    </div>

  </div>
</div>


<!-- If Not LoggedIn -->
<div *ngIf="!hasUserLoggedIn">
  <router-outlet></router-outlet>
</div>
